POSTGRES_USER=urban_user
POSTGRES_PASSWORD=urban_password
POSTGRES_DB=urban_mobility_db
POSTGRES_IMAGE=postgres:16
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_CONTAINER_HOST=postgres
POSTGRES_CONTAINER_PORT=5432

DATABASE_URL=postgresql://urban_user:urban_password@localhost:5432/urban_mobility_db
CONTAINER_DATABASE_URL=postgresql://urban_user:urban_password@postgres:5432/urban_mobility_db

API_HOST=0.0.0.0
API_PORT=8000
DASHBOARD_HOST=0.0.0.0
DASHBOARD_PORT=8501

MODEL_PATH=models/xgboost_model.pkl
FEATURE_COLUMNS_PATH=models/feature_columns.json
